.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}

.customModal {
  background: rgb(161, 173, 208);
  width: 280px;
  height: 110px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .customModal {
    width: 410px;
    height: 100px;
  }
}
