.customOverlay {
  background: rgba(215, 215, 215, 0.532);
}

.customModal {
  background: #5f6280;
  width: 280px;
  height: 110px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .customModal {
    width: 410px;
    height: 100px;
  }
}
